<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enviar parámetros del reques HTTP GET - URL</title>
</head>
<body>
	<h1>Enviar parámetros del reques HTTP GET - URL</h1>
<ul>
    <li><a th:href="@{/params/string(texto='Hola Andrés')}">Andrés</a></li>
	<li><a th:href="@{/params/string(texto='Hola John')}">John</a></li>
	<li><a th:href="@{/params/mix-params(saludo='Hola John', numero=7)}">Hola John y 7</a></li>
	<li><a th:href="@{/params/mix-params/request(saludo='Hola John', numero=7)}">Hola John y 7</a></li>
</ul>
    
</body>
</html>